.btns_cont_videoPage{
    display: flex;
    flex-grow: 5;
    flex-direction: row-reverse;
}
.btn_VideoPage{
    margin:  auto 0;
    display: flex;
}
.like_videoPage{
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;

    margin: 0.5rem;
    display: flex;
    cursor: pointer;
}
.btns_videoPage{
    margin: auto 0.5rem;
}